<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Save
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Save</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--Content-->
  <div>
    <img src="./assets/rewards/Logo.png">
  </div>
  
  <div class="banner">
    <img src="./assets/rewards/banner.png"> 
    <div class="banner_reward"><b>Saved Items</b></div>
   </div>

   <div class="row savedRow"> 
     <div class="megacard">
        <div class="saveCard"> 
          <img class="heart" src="./assets/save/heart.png">
          <img src="./assets/save/iphone.png">
          </div>
          <span class= "titleSave"><b>Iphone 13 Max Pro</b></span>
          <span class= "titleSave">$1229.99+ / 5 Stores </span>
          <span class= "titleSave">10,000 points</span>
       </div> 

       <div class="megacard">
       <div class="saveCard"> 
        <img class="heart" src="./assets/save/heart.png">
        <img src="./assets/save/beats.png">
        </div>
        <span class= "titleSave"><b>Beats by Dr.Dre Headphones</b></span>
        <span class= "titleSave">$229.99+ / 3 Stores </span>
        <span class= "titleSave">3,000 points</span>
      </div>
    </div>

  <!--End of Content-->
</ion-content>