.ionic-header {
    background-color: white;
}

.title {
    margin:  20px 20px 20px 10px;
    font-size: 30px;
}

.logo {
    float: left;
    margin: 10px;
    width: 50vw;
}

.profile {
    float: right;
    margin: 20px;
    width: 10vw;
}

.search-bar {
    margin: 20px;
    width: 95%;
    border-radius: 20px;
}

.saved-icon {
    float: right;
    margin: 10px;
    font-size: 3.5vw;
}