.ionic-header {
    background-color: white;
}

.title {
    margin:  20px 20px 20px 10px;
    font-size: 30px;
}

.logo {
    float: left;
    margin: 10px;
    width: 50vw;
}

.profile {
    float: right;
    margin: 20px;
    width: 10vw;
}

.banner {
    margin-bottom: 10px;
    position: fixed;
}

.banner-title {
    position: absolute;
    top: 20px;
    color: white;
    left: 16px;
    font-size: 4vw;
}

.banner-points {
    position: absolute;
    bottom: 20px;
    right: 16px;
    color: white;
    font-size: 4vw;
}

.swpstk {
    margin-left: 5px;
    margin-top: 0px;
    padding: 2px;
    box-shadow: 3px 3px lightgray;
}

.description {
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: -12px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: -8px;
    margin-bottom: 25px;
  }

.giftcard {
    padding: 2px;
}

.grid {
    position: absolute;
    align-content: center;
}

.content-title {
    font-size: 20px;
    font-weight: 600;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}