<ion-header class="ionic-header">
  <img class="logo" src="assets/logo_horizontal.png">
  <img class="profile" src="assets/profile_icon.png">
  <ion-toolbar class="app-header">
    <ion-title class="title">
      Gift Card Redeem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="title-giftcard"><b>Rewards Checkout</b></p>
  <div class="giftcard">
    <div class="giftcard_img">
      <img src="./assets/rewards/bestbuy.jpg" width="50%" height="50%">
    </div>
    <div class="giftcard_description">
      <p>$10 Best Buy Gift Card <br>10,000 Points</p>
    </div>

  </div>
  <div class="header">
    <ion-item-divider></ion-item-divider>
    <p class="title-giftcard"><b>Shipping Address</b></p>
  </div>

  <div class="form">
    <ion-item>
      <ion-label>Street Address</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Zip Code</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>City</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>State</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>

  <div class="submit_button">
    <ion-button type="submit" (click)="showAlert()">Submit</ion-button>
  </div>

  <!--temp button-->
  <ion-button (click)="return2Main()">Back</ion-button>

</ion-content>