.banner{
    position: relative;
    text-align: center;
    margin-top: -5px;
}

.banner_text{
    position: absolute;
    top: 20px;
    left: 12px;
    color: white;
    font-size: 25px;
}

.giftcard{
    position: relative;
    margin-bottom: -25px;
}

.giftcard_img{
    position: absolute;
    margin-left: 20px
}

.giftcard_description{
    position: absolute;
    right: 40px;
    top: -7px;
    font-size: 15px;
}

.header{
    margin-top: 100px;
    margin-left: 5px;
    margin-bottom: -10px;
}

.form{
    margin: 20px
}

.field{
    font-size: 2px;
}

.submit_button{
    text-align: center;
    margin-top: 20px;
}

ion-button{
    --background: #F79326;
    --border-radius: 10px;
}


.ionic-header {
    background-color: white;
}

.title {
    margin:  20px 20px 20px 10px;
    font-size: 30px;
}

.logo {
    float: left;
    margin: 10px;
    width: 50vw;
}

.profile {
    float: right;
    margin: 20px;
    width: 10vw;
}

.title-giftcard {
    margin: 20px
}